<div id="container4">
</div>

<%= link_to "Bar Graph?", "/graphs/bar", class: "btn btn-large btn-success", id:"bar_link", :remote => :true %>

<%= link_to "Histogram?", "/graphs/histogram", class: "btn btn-large btn-warning", id:"histo_link", :remote => :true %>

<%= link_to "Battery Histogram?", "/graphs/batt", class: "btn btn-large btn-warning", id:"batt_link", :remote => :true %>


<%= link_to "Map", "/graphs/map", class: "btn btn-large btn-danger", id:"map_link" %>