<h2>All Users</h2>

<table class='user_table table table-hover table-bordered'>
  <tr>
    <th>User Name</th>
    <th>User Email</th>
    <th>User Role</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name.titleize %></td>
    <td><%= user.email %></td>
    <td><%= user.role.titleize %> </td>
    <td class="text-center"><%= link_to 'Change User Role', change_user_role_path(user), class: "btn btn-large btn-primary" %></td>
  </tr>
  <% end %>
</table>
