// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container4 {
 padding-left: 16%;
 width: 95%
}

.sidebar-nav-fixed {
     position:fixed;
     top: 20%;
     left: 10%;
     width:20%;
 }



#map {
  height: 450px;
}