body.posts {
  padding-top: 7%;
}

.container.nav {
  margin-left: 15%;
}

.sidebar-module {
  margin-left: 15%;
}

.col-sm-8.blog-main.show {
  margin-left: 15%;
  margin-bottom: 5%;
}

body.post {
  margin-left: 8%;
}

.blog-title {
  font-weight: bold;
  color: rgb(241, 183, 58);
}

.blog-header.show {
  text-align: center;
/*  margin-left: 10%;*/
}

.wmd-input {
  margin-top: 10px;
  background-color: rgb(240, 237, 237);
  margin-bottom: 10px;
}

label {
  margin-top: 15px;
}

.wmd-button-row {
  margin-top: 15px;
}

input {
  height: 35px;
}

input.btn.btn-lg.btn-success {
  margin-top: 10px;
}

div.container.post {
  margin: 2% 0% 2% 10%;
}