body.posts {
  padding-top: 7%;
}

.blog-title {
  font-weight: bold ;
}

.wmd-input {
  margin-top: 10px;
  background-color: rgb(240, 237, 237);
  margin-bottom: 10px;
}

label {
  margin-top: 15px;
}

.wmd-button-row {
  margin-top: 15px;
}

input {
  height: 35px;
}

input.btn.btn-lg.btn-success {
  margin-top: 10px;
}

div.container.post {
  margin: 2% 0% 2% 10%;
}