// Place all the styles related to the press controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th {
  border-bottom: .03px solid gray;
  max-width: 200px;
  max-height: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.button_link {
  max-width: 50px;
}

th.button_link {
  max-width: 50px;
  margin-left: 5%;
}

table {
  padding-bottom: 20%;
}

ul.press_list {
  display: inline-block;
  list-style-image: image-url('tinydrop.png');
}

.row.press {
  width:60%;
  text-align: justify;
}