// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
  margin-left: 10%;
}

.sign_in_submit.btn.btn-lg.btn-primary {
  padding: 5px;
  margin-top: 5%;
}

button.close {
  padding: 1%;
  color: rgb(241, 183, 58);
  opacity: 100;
}

.subscriber_submit.btn.btn-primary {
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 23%;
  margin-top: 3%;
  border: none;
  background-color: rgb(241, 183, 58);
}

.modal-header {
  padding: 0px;
  height: 32px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  border-bottom: none;
}

.white h1 {
  padding-top: 0px;
}

.row.blog {
  border:2px solid;
  border-radius:25px;
  box-shadow: 5px 5px 2px #888888;
}

.col-lg-6.blog-bg {
  height: 250px;
  background-color: #423E38;
}

.col-lg-8.blog-content {
  height: 250px;
  background-color: #F0EEEB;
}

#read_more {
  position: absolute;
  bottom: 0;
}

.row {
  padding-top: 0;
}

#sign_in_here {
  margin-left: auto;
  margin-right: auto;
  width: 49%;
  text-align: right;
}

.side-photo {
  opacity: .3;
}

#hidden_form {
 display: none;
}

#hist_date_picker {
  display: none;
  padding-left: 16%
}

.sign_in_token {
  display: none;
}

.subscriber_token {
  display: none;
}

.all_the_containers {
  margin-top: 85px;
  margin-left: 20%
}

.form_field {
  padding: 3px;
}

.gimme_some_space {
  margin-top: 50px;
}

#greywrap {
  background-image: image-url('woman_well.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.words {
  margin-left: 15%;
  color: #fff;
}

p.words {
  padding-left: 13%;
  min-width: 90%;
}

a#map_link {
  width: 250px;
}

a#batt_link {
  width: 250px;
}

a#histo_link {
  width: 250px;
}

a#bar_link {
  width: 250px;
}

@media (min-width: 768px) {
  div.navbar.navbar-inverse.navbar-fixed-top {
  height: 60px;
  }
}