// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
  margin-left: 10%;
}
.subscriber_submit.btn.btn-primary {
  margin-left: 19%;
  margin-top: 3%;
  background-color: rgb(241, 183, 58);
}

.navbar.navbar-inverse.navbar-fixed-top {
  border-bottom: none;
}

.row.blog {
  border:2px solid;
  border-radius:25px;
  box-shadow: 5px 5px 2px #888888;
}

.col-lg-6.blog-bg {
  height: 250px;
  background-color: #423E38;
}

.col-lg-8.blog-content {
  height: 250px;
  background-color: #F0EEEB;
}

#read_more {
  position: absolute;
  bottom: 0;
}

.row {
  padding-top: 0;
}

.sign_in {
  margin-left: 95%;
  margin-top: 2%;
}

#sign_in_here {
  text-align: right; 
}

.side-photo {
  opacity: .3;
}

#hidden_form {
 display: none;
}

#hist_date_picker {
  display: none;
}

.sign_in_token {
  display: none;
}

.subscriber_token {
  display: none;
}

.all_the_containers {
  margin-top: 10%;
  margin-left: 20%
}

.form_field {
  padding: 3px;
}

.gimme_some_space {
  margin-top: 50px;
}

#greywrap {
  background-image: image-url('woman_well.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.words {
  margin-left: 15%;
  color: #fff;
}

p.words {
  padding-left: 13%;
  min-width: 90%;
}